*{
    margin: 0;
    padding: 0;
}
.navigation{
    color:red;
    background-color: aqua;
}
.navigation_list{
    list-style: none;
    color: blanchedalmond;
    height: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:end;
    gap: 30px;
}
.intro{
    background-color: beige;
    color: coral;
    margin:20px auto;
    padding:30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    transition: background-color 0.3s ease,
                border-color 0.3s ease,
                transform 0.3s ease;
}

.intro img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.intro_details h1{
    font-size: 2rem;
    width: 600px;
    line-height: 1.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro:hover {
    /* background-color: cyan; */
    border-color: rgba(23, 177, 204, 0.89);               /* border changes */
    transform: translateY(-4px);      /* subtle lift */
}

.about{
    background-color: rgb(5, 5, 65);
    color:rgb(146, 219, 191);
    margin:10px;
    padding:30px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.about_me p{
    height:max-content;
    width: 300px;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #FF6347; 

}
.skills{
    margin:20px;
}
.skills h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    color: blue;
    padding-right: 30px;
   
}
.skills ul{
    gap: 30px;
    padding: 30px;
    list-style: none;
    align-items: center;
}
.project_list{
    background-color: darkgray;
    color: darkgreen;
    margin: 30px;
    padding:40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto ;
    column-gap:10px;
    row-gap: 15px;
}
.projects{
    gap:20px;
    padding:30px;
    border: 5px solid red;
    cursor: pointer;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 15px;
}
.projects img{
    height: 150px;
    width: auto;
    border-radius: 10px;
    align-items: center;
}
.projects p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projects:hover{
    background-color: blue;
    color:white;
    border: 5px solid greenyellow;
}
