*{
    margin: 0;
    padding: 0;
}
.navigation{
    color:red;
    background-color: aqua;
    text-decoration: none;
}
.navigation_list a{
    text-decoration: none;
}
.navigation_list{
    list-style: none;
    color: blanchedalmond;
    height: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:center;
    gap: 30px;
}
.intro{
    background-color: beige;
    color: coral;
    gap:20px;
    padding:30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    transition: background-color 0.3s ease,
                border-color 0.3s ease,
                transform 0.3s ease;
}

.intro img{
    height: 200px;
    width: 200px;
    margin-left: 30px;
    border-radius: 50%;
}
.intro_details h1{
    font-size: 2rem;
    width: 600px;
    line-height: 1.4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.intro_details  {
    margin-left: 5px;
}
.intro:hover {
    /* background-color: cyan; */
    border-color: rgba(23, 177, 204, 0.89);               /* border changes */
    transform: translateY(-4px);      /* subtle lift */
}

.about{
    background-color: rgb(151, 151, 238);
    color:rgb(146, 219, 191);
    padding-bottom: 30px;
    gap:20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.about_body{
    gap:20px;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.about_heading h1{
    font-size: 75px; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.about_me p{
    color:#0ce8ec;
    width: 450px;
    height:150px;
    margin-left: -30px;
    font-size: 20px;
}
.skills h3{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    padding-right: 30px;
   
}
.skills{
    color: #0ce8ec;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.skills_heading h3{
    font-size: 20px;
}
.project_list{
    background-color: darkgray;
    color: darkgreen;
    border: 5px solid  rgb(224, 107, 107);
    margin-top:30px;
    padding:40px;
    display:flex;
    flex-direction: column;
    align-items: center;
    column-gap:10px;
    row-gap: 15px;
}
.projects{
    gap:20px;
    padding:30px;
    border: 5px solid red;
    cursor: pointer;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    border-radius: 15px;
}
.projects img{
    height: 150px;
    width: auto;
    border-radius: 10px;
    align-items: center;
}
.projects p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.projects:hover{
    background-color: blue;
    color:white;
    border: 5px solid greenyellow;
}
