*{
    margin:0;
    padding: 0;
}
body{
    color: #dbcaca;
}
#webcomNav{
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows: auto auto;
    gap: 20px;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 60px;
    margin:30px;
    padding: 40px;
    /* grid-row: 1 / 2;
    grid-column: 1 / 2; */ 

}
.main_nav ul{
    /* background-color:#606060 ;  */
    width:max-content;
    color: black;
    list-style: none;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 30px; 
}
.sub_nav ul{
    width: max-content;
    color: black;
    list-style: none;
    margin: 10px;
    padding: 30px;
    display: flex;
    flex-direction:row;
    justify-content:start;
    gap: 50px;
}
