*{
    margin:0;
    padding: 0;
}
/* body{
    color: #dbcaca;
} */
#webcomNav{
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows: auto auto;
    gap: 2px;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 60px;
    margin:30px;
    padding: 40px;
    /* grid-row: 1 / 2;
    grid-column: 1 / 2; */ 

}
.main_nav ul{
    width:40px;
    color: black;
    list-style: none;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 30px; 
}
ul li,li a{ 
    text-decoration: none;
    list-style:none;
}
.sub_nav ul{
    width: max-content;
    color: black;
    list-style: none;
    padding: 30px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
}
li a:hover{
    color: #0077ff;
    text-decoration: underline;
}
.first_section_lst{
    /* border:4px solid red; */
    margin: 70px;
    padding: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.first_content p{
    color: #1d1d1f;
    font-size: 20px;
    line-height: 1.2em;
    margin-bottom: 30px;
}
.first_img img{
    height:100%;
    width: 450px;
}
.first_heading p{
    color: #1d1d1f;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    letter-spacing: .009em;
    line-height: 1.2em;
    margin-bottom: 30px;
}
.first_heading h1{
    text-align: center;
    margin-bottom: 20px;
}
.first_list{
    margin:30px;
    padding:70px;
}
.first_list_detail ul{
    list-style: none;
    width: 383px;
    /* margin-bottom: 30px; */
}
.first_button{
    margin: 30px;
    padding:20px; 
    position: relative;

}
.first_button a{
    position: absolute;
    border:2px solid;
    background-color: #0095e7;
    color:white;
    padding: 5px;

}
.first_button p{
    position: absolute;
    left: 30%;
    margin: 10px;
    width: max-content;
}
.s_sec{
    margin: 30px;
    padding: 30px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.third_class{
    margin:0;
    padding: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto ;
}
.third_content img{
    display: block;
    height: 20px;
    width: auto;
}
.third_content{
    /* margin:5px; */
    padding:10px;
    border:3px solid;
}
#third-id{
    width: max-content;
    height: 150px;
}
.sec_head{
    position:relative;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.second_content{
    /* position:absolute ;
    left:30px; */
    margin-left: 40px;;
    gap: 20px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: flex-start;
}
.sec_content_data{
    margin-left:25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.paragraph p{
    margin: 10px;
    color: rgba(0, 0, 0, .8);
}
.paragraph h2{
    color: rgba(0, 0, 0, .8);
    font-size: 20px;

}
.lnk a {
    color: #1d78f0;
    text-decoration: none;
    display: inline-block;
    margin: var(--spacing-sm-16x2) 0;
    padding: 0;
    font-size: var(--font-size-16);
}
.faqs{
    margin:20px;
    padding:30px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faqs_content{
    margin-bottom:30px;
    padding:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.faqs_content h3{
    font-size: 19px;
    margin-bottom: 8px; 
}
       
.faqs_content p{
    margin-bottom: 20px;
    text-decoration: underline;
}
.sixth_container{
    padding: 30px;
    display:flex;
    flex-direction:column;
}
.sixth_container h2{
    margin:5px;
    padding:10px;
}
.sixth{
    margin:10px;
    padding:10px;
}
.sixth_img img{
    height: 150px;
    width: 180px;
}
.sixth_doc{
    margin:10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.main_footer{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
}
.sub_footer h2{
    font-size: 16px;    
    font-weight: 800;    
    color: #000;
    text-transform: uppercase;
    display: block;
    margin-bottom: 2rem;
    letter-spacing: 0;
}
.sub_footer ul li{
    color: rgba(0, 0, 0, .6);
}













