*{
    margin:0;
    padding: 0;
}
/* body{
    color: #dbcaca;
} */
#webcomNav{
    display: grid;
    grid-template-columns:1fr auto;
    grid-template-rows: auto auto;
    gap: 2px;
    align-items: center;
}
.logo img{
    width: 80px;
    height: 60px;
    margin:30px;
    padding: 40px;
    /* grid-row: 1 / 2;
    grid-column: 1 / 2; */ 

}
.main_nav ul{
    width:40px;
    color: black;
    list-style: none;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction:row;
    justify-content: end;
    gap: 30px; 
}
.sub_nav ul{
    width: max-content;
    color: black;
    list-style: none;
    margin: -30px;
    padding: 30px;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items: center;
    gap: 50px;
}
.first_section_lst{
    /* border:4px solid red; */
    margin: 70px;
    padding: 40px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto auto;
}
.first_img img{
    height:100%;
    width: 450px;
}
.first_heading p{
    color: #1d1d1f;
    font-size: 20px;
    font-weight: var(--font-weight-regular);
    letter-spacing: .009em;
    line-height: 1.2em;
    margin-bottom: 30px;
}
.first_heading h1{
    text-align: center;
    margin-bottom: 20px;
}
.first_list{
    margin:30px;
    padding:70px;
}
.first_list_detail ul{
    list-style: none;
    width: 383px;
    /* margin-bottom: 30px; */
}
.first_button{
    margin: 30px;
    padding:20px;    
}
.first_button a{
    border:2px solid yellowgreen;
    background-color: blue;
    color:white;
    padding: 5px;
}
.first_button p{
    margin: 10px;
    width: max-content;
}
.s_sec{
    margin: 30px;
    padding: 30px;
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.third_class{
    margin: 20px;
    padding: 30px;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto ;
    column-gap: 30px;
    row-gap: 30px;
}
.third_content img{
    height: 20px;
    width: auto;
}
.third_content{
    margin:5px;
    padding:10px;
    border:3px solid red;
}







.faqs{
    border:5px solid red;
    margin:20px;
    padding:30px;
    gap: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.faqs_content{
    margin:10px;
    padding:30px;

}
.sixth_container{
    padding: 30px;
    display:flex;
    flex-direction:column;
}
.sixth_container h2{
    margin:5px;
    padding:10px;
}
.sixth{
    margin:10px;
    padding:10px;
}
.sixth_img img{
    height: 150px;
    width: 180px;
}
.sixth_doc{
    margin:10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}





