 .container{
    background-color: rgb(73, 19, 44);
    height: 100%;
    width: 100px;
    color:aqua;
    gap: 20px;
    margin: 50px;
    padding: 40px; 
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items:baseline;
    flex-shrink: 100px;
}
.box1{
    color: aquamarine;
    border: 5px solid  red;
    padding: 10px;


}
.box2{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box3{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box4{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box5{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box6{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box7{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box8{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box9{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box10{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box11{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box12{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box13{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box14{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    

}
.box15{
    color: aquamarine;
    border: 5px solid  red;
    padding: 30px;
    
}