.container{
    border: 3px solid red;
    display: grid;
    grid-template-columns: 100px  200px 300px 230px ;
    grid-template-rows: 200px 150px 150px ;
    column-gap: 20px;
    row-gap: 10px;
}
.box1{
    border: 5px solid greenyellow;
    display: inline-grid;
    grid-column: 1/3;
    
}
.box2{
    border: 5px solid greenyellow;
}
.box3{
    border: 5px solid greenyellow;
}
.box4{
    border: 5px solid greenyellow;
}
.box5{
    border: 5px solid greenyellow;
}
.box6{
    border: 5px solid greenyellow;
}
.box7{
    border: 5px solid greenyellow;
}
.box8{
    border: 5px solid greenyellow;
}
.box9{
    border: 5px solid greenyellow;
}
.box10{
    border: 5px solid greenyellow;
}
.box11{
    border: 5px solid greenyellow;
}
.box12{
    border: 5px solid greenyellow;
}
.box13{
    border: 5px solid greenyellow;
}
.box14{
    border: 5px solid greenyellow;
}
.box15{
    border: 5px solid greenyellow;
}

