.container{
    background-color: rgb(73, 19, 44);
    height: 100px;
    width: 100%;
    color:aqua;
    gap: 20px;
    margin: 50px;
    padding: 40px; 
    display: flex;
    flex-direction: row;
    justify-content: center;
}